body {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

header {
  top:40px;
}

#high-score {
  margin-top: 20px;
  left: 30px;
  position: absolute;
  /* display: inline; */
  color: purple;
  text-decoration: none;
}

#high-score:hover {
  color: rgb(192, 0, 192);
}

#timer {
  margin-top: 20px;
  right: 30px;
  position: absolute;
  display: inline;
}

.main-text {
  padding-top: 140px;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight:bold;
}


.intro-text {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Styling the Start Quiz Button Link */
.button-class a {
  background-color:rebeccapurple;
  border: none;
  color: white;
  padding: 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  margin: 4px 2px;
  font-size: 25px;
  font-weight: bold;
}

#start-quiz:hover {
  background-color: rgb(144, 73, 214);
}

.task-item {
  color: var(--grey);
  padding: 15px 15px;
  border: 2px solid var(--grey);
  background: var(--tertiary);
  border-radius: 12px;
  margin-bottom: 20px;
}

.question-text {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-left: 30%;
  padding-top: 140px;
  /* text-align: center; */
}

.full-answer-list {
  padding-left: 0;
}

.answers {
  margin-left: 30%;
  margin-right: 45%;
  width: 45%;
  margin-right: auto;
}

.list-answer {
  padding-left:50px;
  text-align: center;
  background-color:rgb(86, 42, 129);
  border: none;
  color: white;
  width: 400px;
  padding: 15px 25px;
  text-decoration: none;
  display: block;
  border-radius: 12px;
  margin: 4px 2px;
  font-size: 18px;
  font-weight: bold;
}

.list-answer:hover {
  background-color: rgb(141, 72, 211);
}

.status {
  margin-top: 30px;
  border-top: gray;
  border-style: solid none none none;
  border-width: 2px;
}

#status-update {
  font-style: italic;
  color: gray;
}

.center-box {
  padding-top: 140px;
  text-align: left;
  padding-left: 35%;
}

#initials-text {
  height: 22px;
  width: 330px;
}

#init-label {
  padding: 0px;
}

.submit-button {
  background-color:rebeccapurple;
  border: none;
  color: white;
  padding: 3px 8px 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  margin: 4px 2px;
  font-size: 22px;
}

.submit-button:hover {
  background-color: rgb(144, 72, 216);
}

#hs-list {
  padding-left: 10px;
}

#hs-list li {
  background-color: rgb(219, 183, 255);
  margin-bottom: 10px;
  border-radius: 3px;
  width: 40%;
  padding: 10px 10px 5px 10px;
  list-style-position: inside;
}

#hs-list li {
  margin-bottom: 5px;
}